@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}
.header {
	background-image: url("images/banner/banner1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-right: 150px;
	padding-left: 750px;
}
.home-content {
	text-align: right;
	padding-bottom: 150px;
	padding-top: 50px;
}
.home-title {
	font-size: 65px;
	color: #151414;
	font-weight: 700;
	padding-top: 50px;	
}
.home-description {
	color: #444343;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-top: 15px;
}
.content-btn {
	margin-top: 35px;
	padding: 15px 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	border-radius: 5px;
	background: #F15B22;
	border:none;
}

/* about section */
.about {
	display: flex;
	align-items: center;
	padding: 0 150px;
	gap: 100px;
	margin-top: 70px;
}
.about-profile img{
	width: 500px;
}
.about-title {
	font-size: 40px;
	font-weight: 700;
	color: #151414;
	margin-top: 50px;
	margin-bottom: 25px;
}
.about-description {
	color: #444343;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 16px;
}
ul li{
	color: #444343;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	list-style: none;
}
ul li i{
	color: #16D887;
}